<footer class="ms-footer">
    <div class="container">
        <div class="ms-footbar-social">
            <a href="javascript:void(0)" class="btn-circle btn-facebook"><i class="zmdi zmdi-facebook"></i></a>
            <a href="javascript:void(0)" class="btn-circle btn-twitter"><i class="zmdi zmdi-twitter"></i></a>
            <a href="javascript:void(0)" class="btn-circle btn-instagram"><i class="zmdi zmdi-instagram"></i></a>
        </div>
        <p>Bazar da Solidariedade &copy; @DateTime.Now.Year - Todos os direitos reservados</p>
    </div>
</footer>

<div class="btn-back-top">
    <a href="#" data-scroll id="back-top" class="btn-circle btn-circle-primary btn-circle-sm btn-circle-raised "><i class="zmdi zmdi-long-arrow-up"></i></a>
</div>

