<div class="modal modal-primary" id="ms-account-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog animated zoomIn animated-3x" role="document">
        <div class="modal-content">
            <div class="modal-header d-block shadow-2dp no-pb">
                <button type="button" class="close d-inline pull-right mt-2" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="zmdi zmdi-close"></i></span></button>
                <div class="modal-title text-center">
                    <span class="ms-logo ms-logo-white ms-logo-sm mr-1">B</span>
                    <h3 class="no-m ms-site-title">Solidariedade</h3>
                </div>
                <div class="modal-header-tabs">
                    <ul class="nav nav-tabs nav-tabs-full nav-tabs-3 nav-tabs-primary" role="tablist">
                        <li class="nav-item" role="presentation"><a href="#ms-login-tab" aria-controls="ms-login-tab" role="tab" data-toggle="tab" class="nav-link active withoutripple"><i class="zmdi zmdi-account"></i> Login</a></li>
                        <li class="nav-item" role="presentation"><a href="#ms-register-tab" aria-controls="ms-register-tab" role="tab" data-toggle="tab" class="nav-link withoutripple"><i class="zmdi zmdi-account-add"></i> Cadastro</a></li>
                        <li class="nav-item" role="presentation"><a href="#ms-recovery-tab" aria-controls="ms-recovery-tab" role="tab" data-toggle="tab" class="nav-link withoutripple"><i class="zmdi zmdi-key"></i> Esqueci</a></li>
                    </ul>
                </div>
            </div>
            <div class="modal-body">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade active show" id="ms-login-tab">
                        <form asp-controller="Seguranca" asp-action="Login" method="post" id="loginForm" autocomplete="off">
                            <fieldset>
                                <div class="form-group label-floating">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                                        <label class="control-label" for="loginCpf">Cpf</label>
                                        <input type="text" id="loginCpf" name="loginCpf" class="form-control cpf" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" required>
                                    </div>
                                </div>
                                <div class="form-group label-floating">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="zmdi zmdi-lock"></i></span>
                                        <label class="control-label" for="loginPassword">Senha</label>
                                        <input type="password" id="loginPassword" name="loginPassword" class="form-control" minlength=6 required>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-6">
                                        <div class="form-group no-mt">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" id="loginRememberMe" name="loginRememberMe"> Lembrar login
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <button class="btn btn-raised btn-primary pull-right">Login</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="ms-register-tab">
                        <form asp-controller="Seguranca" asp-action="Register" method="post" id="registerForm" autocomplete="off">
                            <fieldset>
                                <div class="form-group label-floating">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                                        <label class="control-label" for="ms-form-user-r">Nome completo</label>
                                        <input type="text" id="registerNome" name="registerNome" class="form-control" required>
                                    </div>
                                </div>
                                <div class="form-group label-floating">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                                        <label class="control-label" for="registerEmail">Email</label>
                                        <input type="email" id="registerEmail" name="registerEmail" class="form-control" required>
                                    </div>
                                </div>
                                <div class="form-group label-floating">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="zmdi zmdi-assignment-account"></i></span>
                                        <label class="control-label" for="registerCpf">Cpf</label>
                                        <input type="text" id="registerCpf" name="registerCpf" class="form-control cpf" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" required>
                                    </div>
                                </div>
                                <div class="form-group label-floating">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="zmdi zmdi-smartphone-iphone"></i></span>
                                        <label class="control-label" for="registerCelular">Celular</label>
                                        <input type="text" id="registerCelular" name="registerCelular" class="form-control celular" pattern="\([0-9]{2}\) 9[0-9]{4,4}-[0-9]{4,4}$" required>
                                    </div>
                                </div>
                                <div class="form-group label-floating">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="zmdi zmdi-lock"></i></span>
                                        <label class="control-label" for="registerPassword">Senha</label>
                                        <input type="password" id="registerPassword" name="registerPassword" class="form-control" minlength=6 required>
                                    </div>
                                </div>
                                <div class="form-group label-floating">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="zmdi zmdi-lock"></i></span>
                                        <label class="control-label" for="registerConfirmation">Confirme a senha</label>
                                        <input type="password" id="registerConfirmation" name="registerConfirmation" class="form-control" minlength=6 required>
                                    </div>
                                </div>
                                <button class="btn btn-raised btn-block btn-primary">Cadastrar agora</button>
                            </fieldset>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="ms-recovery-tab">
                        <form asp-controller="Seguranca" asp-action="ForgotPassword" method="post" id="forgotForm" autocomplete="off">
                            <fieldset>
                                <div class="form-group label-floating">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                                        <label class="control-label" for="forgotCpf">Cpf</label>
                                        <input type="text" id="forgotCpf" name="forgotCpf" class="form-control cpf" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" required>
                                    </div>
                                </div>
                                <div class="form-group label-floating">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                                        <label class="control-label" for="forgotEmail">Email</label>
                                        <input type="email" id="forgotEmail" name="forgotEmail" class="form-control" required>
                                    </div>
                                </div>
                                <button class="btn btn-raised btn-block btn-primary">Enviar senha</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>