<div class="ms-slidebar sb-slidebar sb-left sb-style-overlay" id="ms-slidebar">
    <div class="sb-slidebar-container">
        <header class="ms-slidebar-header">
            <div class="ms-slidebar-title">
                <div class="ms-slidebar-login">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <a href="javascript:void(0)" class="withripple" data-toggle="modal" data-target="#ms-account-modal"><i class="zmdi zmdi-account"></i> Entrar</a>
                        <a href="javascript:void(0)" class="withripple" data-toggle="modal" data-target="#ms-account-modal"><i class="zmdi zmdi-account-add"></i> Registrar</a>
                    }
                    else
                    {
                        <a href="javascript:void(0)" class="withripple" data-toggle="modal" data-target="#ms-account-modal">@User.Identity.Name</a>
                    }
                </div>
            </div>
        </header>
        <ul class="ms-slidebar-menu" id="slidebar-menu" role="tablist" aria-multiselectable="true">
            <li>
                <a class="link" asp-page="/Index"><i class="zmdi zmdi-home"></i> Início</a>
            </li>
            <li>
                <a class="link" asp-page="/Produtos"><i class="zmdi zmdi-case"></i> Leilão Virtual</a>
            </li>
            <li>
                <a class="link" asp-page="/Parceiros"><i class="zmdi zmdi-accounts"></i> Parceiros</a>
            </li>
            <li>
                <a class="link" asp-page="/Noticias"><i class="zmdi zmdi-cast-connected"></i> Notícias</a>
            </li>
            <li>
                <a class="link" asp-page="/Sobre"><i class="zmdi zmdi-library"></i> Sobre</a>
            </li>
            @if (User.Identity.IsAuthenticated)
            {
                <li>
                    <a asp-controller="Seguranca" asp-action="Logout" class="link"><i class="zmdi zmdi-sign-in"></i> Sair</a>
                </li>
            }
        </ul>
        <div class="ms-slidebar-social ms-slidebar-block">
            <h4 class="ms-slidebar-block-title">Mídias Sociais</h4>
            <div class="ms-slidebar-social">
                <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-facebook">
                    <i class="zmdi zmdi-facebook"></i>
                    <div class="ripple-container"></div>
                </a>
                <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-twitter">
                    <i class="zmdi zmdi-twitter"></i>
                    <div class="ripple-container"></div>
                </a>
                <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-instagram">
                    <i class="zmdi zmdi-instagram"></i>
                    <div class="ripple-container"></div>
                </a>
                <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-youtube">
                    <i class="zmdi zmdi-youtube-play"></i>
                    <div class="ripple-container"></div>
                </a>

            </div>
        </div>
    </div>
</div>