<div class="ms-paper-menu-left">
    <h3 class="ms-paper-menu-title">
        <i class="zmdi zmdi-apps"></i> Administração
        <a role="button" data-toggle="collapse" href="#collapseMenu" aria-expanded="false" aria-controls="collapseMenu" class="withripple">
            <i class="zmdi zmdi-menu"></i>
        </a>
    </h3>
    <div class="panel-menu collapse" id="collapseMenu">
        <ul class="panel-group ms-collapse-nav" id="components-nav" role="tablist" aria-multiselectable="true">
            <li class="card" role="tab" id="e1">
                <a role="button" data-toggle="collapse" href="#c1" aria-expanded="true" aria-controls="c1" class="withripple">
                    <i class="fa fa-bold"></i> Categorias
                </a>
                <ul id="c1" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="e1" data-parent="#components-nav">
                    <li>
                        <a class="withripple" href="/Admin/Categorias/Index">
                            <i class="fa fa-font"></i> Lista
                        </a>
                    </li>
                    <li>
                        <a class="withripple" href="/Admin/Categorias/Create">
                            <i class="fa fa-font"></i> Adicionar
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>