@page
@model BazarSapiens.Pages.Admin.Parceiros.IndexModel

@{
    ViewData["Title"] = "Parceiros";
}

<h1>Bazares</h1>

<a asp-page="Create" class="btn btn-raised btn-info">Adicionar Parceiro</a>

<div class="card">
    <table class="table table-no-border">
        <thead>
            <tr>
                <th>Parceiro</th>
                <th>Bazar</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Parceiros)
            {
            <tr>
                <td>@item.Nome</td>
                <td>@item.Bazar.Nome</td>
                <td width="30">
                    <a asp-page="./Edit" asp-route-id="@item.Id" title="Editar">
                        <i class="fa fa-pencil"></i>
                    </a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>