@page
@model BazarSapiens.Pages.Admin.Noticias.CreateModel

@{
    ViewData["Title"] = "Notícias";
}

<h1>Adicionar Notícia</h1>

<form method="post" class="form-horizontal" autocomplete="off" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label asp-for="Noticia.Titulo" class="control-label">Título da Notícia</label>
                <input asp-for="Noticia.Titulo" class="form-control" />
                <span asp-validation-for="Noticia.Titulo" class="text-danger"></span>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="form-group">
                <label asp-for="Noticia.DataPublicacao" class="control-label">Data da Publicação</label>
                <input asp-for="Noticia.DataPublicacao" class="form-control" />
                <span asp-validation-for="Noticia.DataPublicacao" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label asp-for="Noticia.Autor" class="control-label">Autor</label>
                <input asp-for="Noticia.Autor" class="form-control" />
                <span asp-validation-for="Noticia.Autor" class="text-danger"></span>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="form-group">
                <label asp-for="Noticia.Descricao" class="control-label">Descrição do Produto</label>
                <textarea asp-for="Noticia.Descricao" class="form-control"></textarea>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="form-group">
                <label asp-for="Arquivos" class="control-label">Fotos do produto</label>
                <input type="text" readonly="" class="form-control" placeholder="Selecione as fotos do produto...">
                <input type="file" asp-for="Arquivos" multiple>
            </div>
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="Adicionar" class="btn btn-raised btn-primary" /> &nbsp;&nbsp;
        <a asp-page="Index">Voltar a lista de notícias</a>
    </div>
</form>

@section Head
{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
}

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script>
        var simplemde = new SimpleMDE({ element: document.getElementById("Noticia_Descricao") });
    </script>
}