@page
@model BazarSapiens.Pages.Admin.Categorias.IndexModel

@{
    ViewData["Title"] = "Categorias";
}

<h1>Categorias</h1>

<a asp-page="Create" class="btn btn-raised btn-info">Adicionar Categoria</a>

<div class="card">
    <table class="table table-no-border">
        <thead>
            <tr>
                <th>#</th>
                <th>Categoria</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Categorias)
            {
            <tr>
                <td>@item.Id</td>
                <td>@item.Descricao</td>
                <td width="30">
                    <a asp-page="./Edit" asp-route-id="@item.Id" title="Editar">
                        <i class="fa fa-pencil"></i>
                    </a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>