@page
@{
    ViewData["Title"] = "Bazar - Accesso Negado";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-md-offset-2">
            <div class="card animated fadeInUp animation-delay-7 color-primary withripple">
                <div class="card-body-big color-dark">
                    <div class="text-center">
                        <h1 class="color-primary">Acesso Negado</h1>
                        <h2>Você tentou acessar um recurso não autorizado ao seu usuário</h2>
                        <a asp-page="/Index" class="btn btn-primary btn-raised">
                            <i class="zmdi zmdi-home"></i> Ir para a página inicial
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
