@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Bazar - Atualizar Senha";
}

<div class="ms-hero-page-override ms-hero-img-city ms-hero-bg-dark-light">
    <div class="container">
        <div class="text-center">
            <h1 class="no-m ms-site-title color-white center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-5">
                Atualizar a Senha
            </h1>
            <p class="lead lead-lg color-white text-center center-block mt-2 mw-800 text-uppercase fw-300 animated fadeInUp animation-delay-7">
                Você dever ter esquecido a senha do cadastro do <span class="color-warning">Bazar da Solidariedade</span>.

                A única maneira de voltar a ter acesso ao sistema é criando uma nova senha.
            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-lg-6">
            <div class="card card-hero card-primary animated fadeInUp animation-delay-7">
                <div class="card-body">
                    <form method="post" class="form-horizontal">
                        <input asp-for="Input.Code" type="hidden" />
                        <fieldset>
                            <div class="form-group label-floating">
                                <label asp-for="Input.Cpf" class="control-label">Cpf do Usuário</label>
                                <input asp-for="Input.Cpf" class="form-control cpf" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" required />
                            </div>
                            <div class="form-group label-floating">
                                <label asp-for="Input.Password" class="control-label">Nova senha</label>
                                <input asp-for="Input.Password" class="form-control" minlength=6 required />
                            </div>
                            <div class="form-group label-floating">
                                <label asp-for="Input.ConfirmPassword" class="control-label">Confirme a nova senha</label>
                                <input asp-for="Input.ConfirmPassword" class="form-control" minlength=6 required />
                            </div>
                        </fieldset>
                        <button class="btn btn-raised btn-primary btn-block" type="submit">
                            Atualizar Senha
                            <i class="zmdi zmdi-long-arrow-right no-mr ml-1"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/assets/js/resetPassword.js"></script>
}