@page
@{
    ViewData["Title"] = "Bazar - Sobre";
}

<div class="material-background"></div>
<div class="container">
    <div class="text-center mb-6">
        <h1 class="no-m ms-site-title color-white center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-5">
            Sobre o Bazar
        </h1>
        <p class="lead lead-lg color-white text-center center-block mt-2 mb-4 mw-800 text-uppercase fw-300 animated fadeInUp animation-delay-7">
            <span class="colorStar">Em breve</span> mais informações sobre o projeto
        </p>
    </div>
</div>
